# Import Basic Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

# Read data

In [2]:
df = pd.read_csv("KNN_Data.csv")

In [3]:
df.head()

,Year,Mo,Globe,Land,Ocean,NH,Land.1,Ocean.1,SH,Land.2,...,NoPol,Land.6,Ocean.6,SoPol,Land.7,Ocean.7,USA48,USA49,AUST,Troposphere
0,1978,12,-0.48,-0.51,-0.47,-0.44,-0.46,-0.42,-0.52,-0.62,...,-0.39,-0.68,-0.06,-0.45,-0.38,-0.49,-1.29,-1.15,-1.29,Lower
1,1979,1,-0.47,-0.64,-0.41,-0.64,-0.86,-0.50,-0.31,-0.13,...,-0.46,-0.95,0.10,-0.16,-0.15,-0.16,-3.22,-2.42,0.92,Lower
2,1979,2,-0.43,-0.56,-0.39,-0.47,-0.57,-0.41,-0.39,-0.53,...,-2.01,-2.30,-1.66,-0.80,-1.25,-0.58,-1.76,-1.84,-0.30,Lower
3,1979,3,-0.38,-0.51,-0.33,-0.46,-0.51,-0.44,-0.30,-0.53,...,-0.56,-0.47,-0.65,-0.52,-1.25,-0.18,-0.70,-0.39,0.23,Lower
4,1979,4,-0.40,-0.57,-0.34,-0.47,-0.62,-0.37,-0.34,-0.46,...,-0.84,-0.81,-0.88,-0.26,0.26,-0.51,-0.72,-0.46,-1.12,Lower

# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import normalize
# import scipy.spatial
# from collections import Counter
# data = pd.read_csv(r&quot;Climate Data-kNN.csv&quot;)
# data = data.dropna()
# X = data.iloc[:,1:-1]
# Y = data.iloc[:,-1]
# X = X.to_numpy()
# Y = Y.to_numpy()
# X = normalize(X, axis=0, norm=&#39;max&#39;)
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2,
# random_state=42)
# class KNN:
# def __init__(self, k):
# self.k = k
# def fit(self, X, y):
# self.X_train = X
# self.y_train = y
# def distance(self, X1, X2):
# distance = scipy.spatial.distance.euclidean(X1, X2)




# def predict(self, X_test):
#   final_output = []
#   for i in range(len(X_test)):
#     d = []
#     votes = []
#   for j in range(len(X_train)):
#     dist = scipy.spatial.distance.euclidean(X_train[j] ,
#     X_test[i])
#     d.append([dist, j])
#     d.sort()
#     d = d[0:self.k]
#  for d, j in d:
#     votes.append(y_train[j])
 ans = Counter(votes).most_common(1)[0][0]
#     final_output.append(ans)
# return final_output



# def score(self, X_test, y_test):
# predictions = self.predict(X_test)
#               return (predictions == y_test).sum() / len(y_test)
# clf = KNN(30)
# clf.fit(X_train, y_train)
# sc = clf.score(X_test, y_test)
# print(sc)

In [5]:
# lets play with array
X = df.iloc[:,[1,2]].to_numpy()
y = df.iloc[:,-1].to_numpy()

# Define euclidean distance

In [43]:
def euclidean(a,X):
    # a is a single dimensional array or vector and X is a matrix or 2 d array
    # But this can be modified for any dimension let update
    dim = len(X);
#     print("len of x:",dim)
    x=np.zeros(a.shape)
#     print("x initially",x)
    for j in range(dim):
        dist =0
        for i in range(len(X[j])):
            dist += np.sqrt(np.sum(np.square(X[j][i]-a[i])))
            x[i]=(dist)

       
    return x

In [44]:
z = euclidean(X[0],X)
print(z)

[5.   5.09]

# construct knn class

In [33]:
class knn:
    def __init__(self,k):
        self.k = k
# fit function your model is learning the output but in this case knn does not learn anything, lazy learner    
    def fit(self,X,y):
        self.X_train = X
        self.y_train = y
# this function will return your actual calculation        
    def predict(self,X_test):
        y_test = []
        print("X_test:",X_test)
        self.X_test = X_test
        dist = [] # it will store our index as well distance
        for i in range(len(X_test)):
            distance = euclidean(X_test[i],X_train)#distance from the trained data set
            dist.append([distance,int(i)])
        dist.sort(key=lambda x:x[1])
        #only choose k values
        dist =dist[0:self.k]
        print("K nearest distance",dist)
        vote = []
        for d,j in dist:
            vote.append(j)
        pred = Counter(vote).most_common(1)[0][0] #counter :- Hashtable
        y_test.append(pred)
        return y_test

# Splitting the data in testing and training

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [45]:
obj = knn(5)
print(obj.predict(X_test))

X_test: [[12.    0.16]
 [ 2.    0.62]
 [ 2.    0.  ]
 ...
 [ 7.   -0.25]
 [ 4.   -0.16]
 [ 5.   -0.21]]
K nearest distance [[array([0.  , 0.46]), 0], [array([10.  , 10.92]), 1], [array([10. , 10.3]), 2], [array([4.  , 4.15]), 3], [array([8. , 8.2]), 4]]
[0]

NameError: name 'dataframe' is not defined